body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav-flex {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: gray;
  color: purple;
  height: 55px;
}

.active-link {
  font-size: 33px;
  color: red;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
}

.hero-panel {
  margin: 10px;
  width: calc(33.333% - 20px);
  background-color: orange;
  text-align: center;
}

.hero-panel > img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
