<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Superheros</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <div class="container">
      <h1>Super Heroes</h1>
      <p>Enthusiasts club of '82'</p>
    </div>
    <div class="container" id="component">
      <h3> Hero List List </h3>
      <div v-for="hero in heroes" class="panel panel-default">
        <h3> {{ hero.name }} </h3>
        <p> {{ hero.universe }} </p>
        <p> {{ hero.rank }} </p>
        <p> {{ hero.evil }} </p>
        <button type="button" @click="sayPower(hero)"> Say Power </button>
        <button type="button" @click="deleteHero(hero._id)"> DESTROY </button>
      </div>
      <h3> Post New Hero </h3>
      <form v-on:submit="submitHero" class="form" >
        <div class="form-group">
          <label>name</label>
          <input v-model="nName" type="text" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
          <label>super power</label>
          <input v-model="nPower" type="text" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
          <label>universe</label>
          <input v-model="nUniverse" type="text" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
          <label>evil</label>
          <input v-model="nEvil" type="text" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
          <label>rank</label>
          <input v-model="nRank" type="text" class="form-control" id="" placeholder="">
        </div>
        <button type="submit"> CREATE </button>
      </form>
    </div>
  </head>
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="js/fetchData.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
