body {
  background-color: #3498db;
}

.my-jumbo {
  background-color: #2ecc71;
}

.hero-panel {
  background-color: #2ecc71;
  border: solid 3px #1abc9c;
  border-radius: 20px;
  width: 40%;
  text-align: center;
  margin: 10px;
  width: calc(50% - 20px);
  padding-bottom: 4%;
}

.hero-img {
  max-width: 50%;
}

.main-panel-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.form.my-jumbo {
  padding: 5%;
  border-radius: 25px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  margin-top: 60px;
}
